<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Define your beans here -->

	<bean id="myFortuneService"
		class="com.learnSpring.di.HappyFortuneService">
	</bean>

	<bean id="myCoachForIoC" class="com.learnSpring.ioc.TrackCoach">
	</bean>

	<bean id="myCoachForDi" class="com.learnSpring.di.CricketCoach">
		<!-- constructor injection happens here -->
		<constructor-arg ref="myFortuneService"></constructor-arg>
	</bean>


	<bean id="TrackCoachForDi" class="com.learnSpring.di.TrackCoach">
		<!-- setter injection happens here -->
		<property name="fortuneService" ref="myFortuneService"></property>

		<!-- literals injection happens here -->
		<property name="teamName" value="Chennai Super Kings"></property>
		<property name="email" value="csk@gmail.com"></property>
	</bean>
</beans>





